.centered-container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.form {
    border: 5px solid deepskyblue;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.input-label {
    display: grid;
    grid-template-columns: 1f;
}

#nickname {
    margin: 10px;
}