.centered-container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.form {
    border: 5px solid deepskyblue;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.input-label {
    display: grid;
    grid-template-columns: 1f;
}

#nickname {
    margin: 10px;
}

.join-game-btn {
    display: block;
    margin: 10px auto auto auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: deepskyblue;
    height: 2em;
}

.join-game-btn:hover {
    border: 3px solid black;
    cursor: pointer;
}

.main-font-size {
    font-size: 20px;
}